.st-emotion-cache-j5r0tf {
    padding: 0.35rem;
    border-radius: 0.25rem;
    background-color: #6cbbef;
}

.diagnosis {
    color: #fff;
    padding: 0.2em 0.5rem;
    border-radius: 0.5em;
}

.diagnosis.benign {
    background-color: #01DB4B;
}

.diagnosis.malignant {
    background-color: #ff4b4b;
}